In [1]:
import pandas as pd

csv = pd.read_csv("../build/output.csv")

Empty DataFrame
Columns: [100.44, 100.44.1, 100.45, 99.38, 100.45.1, 99.38.1, 100.49, 100.49.1, 99.88, 99.6, 99.35, 100.33, 100.16, 100.16.1, 99.66, 99.63, 100.4, 100.44.2, 100.3, 100.3.1, 100.44.3, 99.78, 99.64, 100.39, 99.64.1, 99.38.2, 99.38.3, 99.34, 99.34.1, 99.34.2, 99.33, 99.69, 99.94, 100.05, 100.05.1, 100.11, 99.56, 100.11.1, 99.49, 100.12, 100.22, 99.49.1, 99.62, 99.3, 100.22.1, 100.33.1, 100.33.2, 99.35.1, 99.35.2, 99.91, 99.3.1, 99.93, 99.29, 99.29.1, 99.29.2, 99.93.1, 100.05.2, 99.32, 99.32.1, 100.1, 99.83, 99.51, 99.51.1, 99.28, 99.27, 99.83.1, 100.02, 100.1.1, 100.17, 100.08, 99.77, 99.61, 99.7, 100.2, 99.61.1, 99.54, 99.54.1, 99.45, 99.45.1, 99.45.2, 99.85, 99.49.2, 99.4, 99.4.1, 99.31, 99.86, 99.27.1, 99.23, 99.22, 99.22.1, 99.22.2, 99.86.1, 99.86.2, 99.92, 99.94.1, 99.4.2, 99.77.1, 99.94.2, 99.58, 99.54.2, ...]
Index: []

[0 rows x 300 columns]