In [2]:
import pandas as pd

csv = pd.read_csv("../build/output.csv")

In [8]:
csv

      price  Unnamed: 1
0    100.91         NaN
1     price         NaN
2     99.96         NaN
3     price         NaN
4     99.69         NaN
..      ...         ...
593   price         NaN
594     100         NaN
595   price         NaN
596   99.38         NaN
597   price         NaN

[598 rows x 2 columns]